@model rsvpyes.Models.Response.RespondViewModel

@{
    ViewData["Title"] = "返信";
}

<h2>@Model.User.Name さん、参加しますか？</h2>
<div id="yes">
    <form asp-action="RespondYes" asp-route-id="@Model.Id">
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block">参加する</button>
        </div>
        <p></p>
        <div><a href="#" id="respond-to-no-link">参加しない場合はこちら</a></div>
    </form>
</div>
<div id="no" class="hidden">
    <form asp-action="RespondNo" asp-route-id="@Model.Id">
        <div class="form-group">
            <label for="reason">参加しない理由</label>
            <textarea class="form-control" id="reason" name="reason" rows="3"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-danger btn-lg btn-block">参加しない</button>
        </div>
        <p></p>
        <div><a href="#" id="respond-to-yes-link">参加する場合はこちら</a></div>
    </form>
</div>
<hr />
<div><a asp-action="ResponsesForOthers" asp-route-id="@Model.Id">会の詳細</a></div>
<script>
    (function () {
        'use strict';
        var noLink = document.getElementById('respond-to-no-link');
        var yesLink = document.getElementById('respond-to-yes-link');
        var yesPanel = document.getElementById('yes');
        var noPanel = document.getElementById('no');

        noLink.addEventListener('click', function (e) {
            noPanel.classList.remove('hidden');
            yesPanel.classList.add('hidden');
            return false;
        });

        yesLink.addEventListener('click', function (e) {
            yesPanel.classList.remove('hidden');
            noPanel.classList.add('hidden');
            return false;
        });
    })();
</script>
